<h1>
  {{title}}
</h1>
    <ul>
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/about">About</a></li>
      <li><a routerLink="/counter">Counter</a></li>
      <li><a routerLink="/alert-button">Alert-Button</a></li>
      <li><a routerLink="/address-detail">Address Detail</a></li>
    </ul>
    <div>
      <p>test logon to an app and keep user id thru data to test re-usable compoents</p> 
      <ul>
        <li><a routerLink="/login">Login/logout</a></li>
        <li><a routerLink="/customer">Customer</a></li>
        <li><a routerLink="/user">User</a></li>
      </ul>
    </div>
    <router-outlet></router-outlet>
